* {
    margin: 0;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em;
    background-color: cadetblue;
}

.sub-nav {
    font-size: 2.5em;
    text-align: center;
    background-color: rgb(29, 85, 87);
    color: white;
    padding: 0.3em;
}

.search-input {
    width: 40vw;
    height: 5vh;
    font-size: 1.3em;
    outline: none;
}

.search-button {
    width: 7vw;
    height: 6vh;
    font-size: 1.3em;
    cursor: pointer;
    background-color: rgb(29, 85, 87);
    color: white;
    border: none;
    outline: none;
}
.body {
    justify-content: center;
    text-align: center;
    padding: 3em;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 16em;
        height: 18em;
    border: 2px solid rgb(183, 181, 181);
    border-radius: 1em;
    margin: 2em;
    padding: 1em;
}

.card-img {
    width: 60%;
    height: 60%;
    border-radius: 50%;
}
.card-info {
    margin-top: 2em;
}

.card-info p {
    color: grey;
}

.user-icon-card {
    margin-top: 2em;
    color: cadetblue;
}